[submodule "roles/base_packages"]
	path = roles/base_packages
	url = https://github.com/chaos-bodensee/role-base_packages.git
[submodule "roles/bat"]
	path = roles/bat
	url = https://github.com/gantsign/ansible_role_bat.git
[submodule "roles/dotfiles"]
	path = roles/dotfiles
	url = https://github.com/chaos-bodensee/role_dotfiles.git
[submodule "roles/ntp"]
	path = roles/ntp
	url = https://github.com/chaos-bodensee/role-ntp.git
[submodule "roles/version"]
	path = roles/version
	url = https://github.com/roles-ansible/role-ansible_version.git
[submodule "roles/ranger"]
	path = roles/ranger
	url = https://github.com/roles-ansible/role_ranger.git
[submodule "roles/bigbluebutton"]
	path = roles/bigbluebutton
	url = https://github.com/n0emis/ansible-role-bigbluebutton.git
[submodule "roles/scalelite"]
	path = roles/scalelite
	url = https://github.com/roles-ansible/role-scalelite.git
[submodule "roles/docker-scalelite"]
	path = roles/docker-scalelite
	url = https://github.com/roles-ansible/role-scalelite.git
[submodule "roles/node-exporter"]
	path = roles/node-exporter
	url = https://github.com/cloudalchemy/ansible-node-exporter.git
[submodule "roles/geerlingguy.ruby"]
	path = roles/geerlingguy.ruby
	url = https://github.com/geerlingguy/ansible-role-ruby
[submodule "roles/geerlingguy.postgresql"]
	path = roles/geerlingguy.postgresql
	url = https://github.com/geerlingguy/ansible-role-postgresql.git
[submodule "roles/geerlingguy.docker"]
	path = roles/geerlingguy.docker
	url = https://github.com/geerlingguy/ansible-role-docker.git
[submodule "roles/geerlingguy.nodejs"]
	path = roles/geerlingguy.nodejs
	url = https://github.com/geerlingguy/ansible-role-nodejs.git
[submodule "roles/greenlight"]
	path = roles/greenlight
	url = https://gitlab.com/0boro/greenlight.git
[submodule "roles/mongodb"]
	path = roles/mongodb
	url = https://github.com/enix/ansible-mongodb.git
